.tag {
  padding: 2px 5px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.green-style {
  background-color: rgba(112, 178, 82, 0.1);
  color: #70b252;
}

.yellow-style {
  background-color: rgba(229, 181, 84, 0.1);
  color: #e5b454;
}
