<div class="container">
    <div class="top-section">
        <button mat-fab color="primary" class="add-button">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="bottom-section" *ngIf="(tasksByStatus$ | async) as tasksByStatus">
        <ng-container *ngFor="let status of columns">
            <div class="column" *ngIf="tasksByStatus[status] && tasksByStatus[status].length > 0">
                <div class="column-header">{{ status }}</div>
                <div class="column-body">
                    <app-task-card *ngFor="let task of tasksByStatus[status]" [task]="task"></app-task-card>
                </div>
            </div>
        </ng-container>
    </div>
</div>